@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body {
    font-family: 'Nunito', sans-serif;
}

/* header */
.header-block {
    background-color: #4f2d01;
    padding: 20px 0px;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
}
ul li {
    padding: 5px;
}

a {
    text-decoration: underline;
    color: #fff;
}

ul a:hover {
    text-decoration: none;
    color: #fff;
}

/* footer */
.footer-block {
    background-color: #4f2d01;
    padding: 40px 0px;
}

.bottom-menu {
    align-items: center;
}

.nav-footer {
    justify-content: space-evenly;
}

.nav-footer ul {
    list-style-type: none;
    flex-wrap: wrap;
}

.nav-footer ul li {
    padding: 5px;
}

.nav-footer a {
    text-decoration: underline;
    color: #fff;
}

.nav-footer ul a:hover {
    text-decoration: none;
    color: #fff;
}

.social a {
    text-align: center;
}

.social-links {
    align-items: flex-start ;
}

.social-links div{
    padding-right: 20px;
}

.social-links a:hover {
    color: #fff;
}

.copyright {
    text-align: center;
    color: #c69e6b;
}

.marg-bot-null {
    margin-bottom: 0;
}

/* mission pages */
.block-mission {
    background-color: #f6ecda;
    color: #27150e;
    padding: 25px 0px;
}

/* personal-policy */
.personal-policy {
    background-color: #f6ecda;
    color: #27150e;
    padding: 25px 0px;
}

.personal-policy ol {
    list-style: none;
    counter-reset: li;
}

.personal-policy li::before {
    counter-increment: li;
    content: counters(li, ".") ". ";
}

.personal-policy ol li {
    padding: 10px 0px;
}

/* terms-use */
.block-term-use {
    background-color: #f6ecda;
    color: #27150e;
    padding: 25px 0px;
    font-size: 16px;
}

.block-term-use ol {
    list-style: none;
    counter-reset: li;
}

.block-term-use li::before {
    counter-increment: li;
    content: counters(li, ".") ". ";
    font-weight: 600;
}

.block-term-use ol li {
    padding: 10px 0px;
}

/* content fanfic */
.home {
    background-color: #f6ecda;
    color: #27150e;
    padding: 25px 0px;
    font-size: 16px;
}

.books-list {
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-one {
    margin-bottom: 30px;
    padding: 15px 20px;
    background-color: #faf5ea;
    max-width: 530px;
}

.book-title {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0px;
}

.book-avtor {
    padding: 5px 0px;
}

.book-fandom {
    padding: 5px 0px;
}

.book-description {
    padding: 5px 0px;
}
.faq-page {
    background-color: #f6ecda;
    color: #876d49;
    padding: 25px 0px;
}
.accordion-flush {
    background-color: #f6ecda;
}
.regulation-page {
    background-color: #f6ecda;
    color: #27150e;
    padding: 25px 0px;
    font-size: 18px;
}
.head-bord {
    border-bottom: 1px dotted #27150e;
}
.flex {
    display: flex;
}
/* list-ok */
.list-ok {
    padding: 0;
    list-style: none;
}
.list-ok li {
    padding: 20px 10px;
}
.list-ok .list-style {
    align-items: center;
}
.list-ok .list-style:before {
    padding-right: 10px;
    font-weight: bold;
    color: #0f9605;
    content: "\2714";
    transition-duration: 0.5s;
}
.list-ok .list-style:hover::before {
    color: #086e00;
    content: "\2714";
}
.marg-not {
    margin-bottom: 0;
}
/* list-not-ok */
.list-not-ok {
    padding: 0;
    list-style: none;
}
.list-not-ok li {
    padding: 20px 10px;
}
.list-not-ok .list-style-not {
    align-items: center;
}
.list-not-ok .list-style-not::before {
    padding-right: 10px;
    font-weight: bold;
    color: #e2131e;
    content: "\2716";
    transition-duration: 0.5s;
}
.list-not-ok .list-style-not:hover::before {
    color: #e2131e;
    content: "\2716";
}
.list-interior li {
    padding: 5px;
}
.navbar-menu {
    background-color: #faf5ea;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px; 
}

.flex {
    display: flex;
}

.navbar-menu ul {
    list-style-type: none;
    padding-top: 10px;
}

.navbar-menu ul li {
    padding-right: 20px;
}

.navbar-menu ul a {
    padding: 5px;
}

.navbar-menu a {
    text-decoration: none;
    color: #88704f;
}

.navbar-menu ul a:hover {
    color: #030200;
}
.navbar-menu .social-links div{
    padding-right: 20px;
}

.navbar-menu .social-links a:hover {
    color: #030200;
}