body {
    font-family: 'Nunito', sans-serif;
}
.header-block {
    background-color: #4f2d01;
    padding: 20px 0px;
}
.flex {
    display: flex;
}
ul {
    list-style-type: none;
    margin: 0;
}
ul li {
    padding: 5px;
}
a {
    text-decoration: underline;
    color: #fff;
}
ul a:hover {
    text-decoration: none;
    color: #fff;
}
.faq-page {
    background-color: #f6ecda;
    color: #876d49;
    padding: 25px 0px;
}
.accordion-flush {
    background-color: #f6ecda;
}